body{
    background:green;
}
 .video-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.video {
    width: 100%;
    height: auto;
}
@media (max-width: 600px) {
    .video-container {
        grid-template-columns: 1fr;
    }
}